﻿<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@using I_Form.Data.Entities
@inject SignInManager<I_Form.Data.User> SignInManager
@inject UserManager<I_Form.Data.User> UserManager


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - I_Forms</title>
  
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
