﻿@using Microsoft.AspNetCore.Identity
@using I_Form.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<nav>
 
    <ul>
        <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
        @if (User.Identity.IsAuthenticated)
        {
            <li><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Next", "Home", new { area = "" })">Log out</a></li>

            <li>
                <a style="color:white;top:-1px;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>

        }
        else
        {
            <li><a asp-area="Identity" asp-page="/Account/Login">Sign up</a></li>
        }


    </ul>
</nav>










@*<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    </ul>*@
