﻿@model DocumentQuestionViewModel

<div class="modal fade" id="addDocumentQuestionViewModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="DocumentQuestionVM">Add DocumentQuestion</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span>X</span>
        </button>
      </div>
      <div class="modal-body">
        <form asp-controller="DocumentQuestion" asp-action="CreateDocumentQuestion">
          <div class="form-group">
            <label asp-for="Title"></label>
            <input id="modalTitle" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label asp-for="Description"></label>
            <input id="modalDesc" asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-save="modal">Save</button>
      </div>
    </div>
  </div>
</div>