﻿@model FormViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/formCreate.css" rel="stylesheet" />


<div class="content">
    <form asp-action="Create" id="formId">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="container">
            <button type="submit" style="background-color:#1fe8b6" class="bttn">Create</button>
        </div>
    </form>
</div>


@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script type="text/javascript">
    var createBttn = $('#createBttn');

    //.live to stay on the page after is clicked?
    createBttn.on('click', function () {

    let formData = $('#formId').serialize();

        $.ajax({
            method: "POST",
            url: "/Forms/Create",
            data: formData,
            success: function (result) {
                alert('Yay! It worked');

            },

            error: function (result) {

                console.log(formData);


                alert('Oh no :(');
            }
        });

    });
</script>

}