﻿@model IEnumerable<FormViewModel>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/formIndex.css" rel="stylesheet" />

@foreach (var item in Model)
{
    <div class="contentWrap">

    <div class="formContainer">
        <div class="formContainer_img">
            <img src="~/css/images/natureBG.jpeg" />
        </div>
        <div class="formContainer_info">
            <h1 class="formContainer_title">
                @item.Title
            </h1>
            <p class="formContainer_desc">@item.Description</p>

            <a class="formContainer_button" asp-action="Details" asp-route-id="@item.Id">Details</a>
            <a class="formContainer_button" asp-controller="Responses" asp-action="Submit" asp-route-id="@item.Id">Fill form</a>
        </div>
    </div>
    </div>



    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

        <a asp-action="Details" asp-route-id="@item.Id">Details</a>*@


}

@if (User.Identity.IsAuthenticated)
{
    <p>
        <br />
        <a class="btn btn-primary" role="button" asp-action="Create">Create New</a>
    </p>
}
