﻿@model ResponsesViewModel
@{
    ViewData["Title"] = "Submit";
}
@if (TempData["SuccessMessage"] != null)
{
  <div class="alert alert-success" role="alert">
    @TempData["SuccessMessage"].ToString()
  </div>
}
<h1>Submit</h1>

<form asp-controller="Responses" asp-action="Submit">
  <h3>Name: @Model.Title</h3>
  <input type="hidden" asp-for="@Model.Id" />
  <h3>Description: @Model.Description</h3>
  <input type="hidden" asp-for="@Model.Description" />
  <div id="questions">
    <h2>Please fill the following questions:</h2>
    <input type="hidden" asp-for="@Model.FormId"/>
    @for (int i = 0; i < Model.TextQuestionsVM.Count; i++)
    {
      <div class="form-group">
        <label>@Model.TextQuestionsVM[i].Title</label>
        <input asp-for="@Model.TextQuestionsVM[i].Content" class="form-control" type="text"/>
      </div>
    }
    </div>
  <button type="submit" class="btn btn-primary">Submit Response</button>
</form>

