﻿@{
    ViewData["Title"] = "I-Forms";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />


<body style="background: #2d3436">
</body>

<div class="welcome-section content-hidden">
    <div class="content-wrap">
        <ul class="fly-in-text">
            <li>W</li>
            <li>E</li>
            <li>L</li>
            <li>C</li>
            <li>O</li>
            <li>M</li>
            <li>E</li>
        </ul>
        <span class="enter-button nonClick">to <b>I-Forms</b></span>
        <a asp-controller="Home" asp-action="Next" class="enter-button">Click here to get started.</a>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript">

            $(function () {
                var welcomeSection = $('.welcome-section'),
                    enterButton = welcomeSection.find('content-hidden');

                setTimeout(function () {
                    welcomeSection.removeClass('content-hidden');
                }, 800);

                enterButton.on('click', function (e) {
                    e.preventDefault();
                    welcomeSection.addClass('content-hidden').fadeOut();
                })
            })

        </script>
    }
}