﻿
@using Microsoft.AspNetCore.Identity
@using I_Form.Data.Entities

@{
    ViewData["Title"] = "Next";
}

@inject SignInManager<I_Form.Data.User> SignInManager
@inject UserManager<I_Form.Data.User> UserManager



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<link href="~/css/HomeNext.css" rel="stylesheet" />
<link href="~/css/HoverEffect.css" rel="stylesheet" />

<header>
    <div class="menu-toggle" id="hamburger">
        <i class="fas fa-bars"></i>
    </div>
    <div class="overlay"></div>
    <div class="container">
        <nav>
            <h1 class="brand"><a asp-controller="Home" asp-action="Next">I<span>-</span>Forms</a></h1>
            <ul>
                <partial name="_LoginPartial" />

            </ul>
        </nav>
    </div>
    <div class="contentWrap">
        <div class="card">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <h2>Answer forms</h2>
                <p>Answer forms that are already created by users.</p>
                <a asp-controller="Forms" asp-action="Index">Read more</a>
            </div>
        </div>

        @if(User.Identity.IsAuthenticated)
        {

        <div class="card">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <h2>Create form</h2>
                <p>Create form and let other users answer it.</p>
                <a asp-controller="Forms" asp-action="Create">Read more</a>
            </div>
        </div>

        }
       

    </div>
</header>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript">

            var open = document.getElementById('hamburger');
            var changeIcon = true;

            open.addEventListener("click", function () {

                var overlay = document.querySelector('.overlay');
                var nav = document.querySelector('nav');
                var icon = document.querySelector('.menu-toggle i');

                overlay.classList.toggle("menu-open");
                nav.classList.toggle("menu-open");

                if (changeIcon) {
                    icon.classList.remove("fa-bars");
                    icon.classList.add("fa-times");

                    changeIcon = false;
                }
                else {
                    icon.classList.remove("fa-times");
                    icon.classList.add("fa-bars");
                    changeIcon = true;
                }
            });

        </script>
    }
}