﻿.card {
    width: 360px;
    height: 360px;
    background: white;
    padding-left: 0;
    margin: 10% auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

    .card span {
        height: 100%;
        background: url('https://i.pinimg.com/564x/0f/b3/24/0fb324cd28dae7e095b129aad2305863.jpg') no-repeat;
        position: absolute;
        width: 100%;
    }

    .card span:nth-child(1){
        z-index:10;
        width: 25%;
        transition: 0s;
    }
    .card span:nth-child(2) {
        z-index: 9;
        width: 50%;
        transition: 0.3s;
    }
    .card span:nth-child(3) {
        z-index: 8;
        width: 75%;
        transition: 0.6s;
    }
    .card span:nth-child(4) {
        z-index: 7;
        width: 100%;
        transition: 0.8s;
    }

.card:hover span{
    transform: translateY(-100%);
    transition: 1.5s;
}

.card:hover span:nth-child(1){
    transition-delay: 0.4s;
}
.card:hover span:nth-child(2){
    transition-delay: 0.2s;
}
.card:hover span:nth-child(4){
    transition-delay: 0.1s;
}
.card:hover span:nth-child(14){
    transition-delay: 0s;
}

.content{
    color: black;
    text-align: center;
    padding: 80px 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: 2s;
}

.content p{
    color: black;
}

.content a{
    width: 100px;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid #fff;
    display: block;
    margin: auto;
    padding: 10px;
    color: black;
}

.card:hover .content{
    transform: translateY(0%);
}

.contentWrap{
    display:flex;
    justify-content:center;
    align-content:space-evenly;
}